# dependencies
/node_modules

# testing
/test

# GDPR (Ignorer les PDFs qui dans ce projet contiennent très certainement des données de paye sensibles)
*.pdf

# misc
.DS_Store
*.bat
*.code-workspace

# debug
npm-debug.log*

# cache
.eslintcache